<?xml version="1.0" encoding="utf-8" ?>
<appSettings>

  <add key="IsFake" value ="1"/>
  <add key="SQLiteConnectionString" value ="C:\Repos\template2-cs\Fake\SQLite.db"/>

  <add key="OracleUser" value="atman"/>
  <add key="OraclePassword" value="atman"/>
  <add key="OracleDataSource" value="(DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST = localhost)(PORT = 1521))(CONNECT_DATA =(SERVER = DEDICATED)(SERVICE_NAME = TESTDB.GRAWOR)))"/>

</appSettings>